Source: kde-bismih-config
Priority: optional
Maintainer: Muhammet Halak <halakmuhammet145@gmail.com>
Installed-Size: 19423259
Section: misc
Standards-Version: 1.3.1
Build-Depends: debhelper (>= 9)
Package: kde-bismih-config
Architecture: amd64
Description: Bismih KDE Config
 This package contains the configuration files for the Bismih KDE desktop
 environment.
 .
 This package is part of the Bismih project.
 .
 Please visit
Version: 1.3.1
