[Desktop Entry]
Type=Application
Name=NormCap (0.5.6)
Exec=~/Applications/NormCap-0.5.6-x86_64_622520793916910ce2b4e16a2a7b0d41.AppImage %F
Icon=appimagekit_20d8ccd3f8c12fc3494ba4751e1e935b_eu.dynobo.normcap
Categories=Utility;
Comment=OCR-powered screen-capture tool to capture information instead of images
StartupWMClass=NormCap
X-AppImage-Version=0.5.6

TryExec=~/Applications/NormCap-0.5.6-x86_64_622520793916910ce2b4e16a2a7b0d41.AppImage
X-AppImage-Old-Icon=eu.dynobo.normcap
X-AppImage-Old-Name=NormCap
X-AppImage-Identifier=20d8ccd3f8c12fc3494ba4751e1e935b
Actions=Remove;
X-AppImageLauncher-Version=2.2.0 (git commit 0f91801), built on 2020-09-29 21:36:15 UTC

[Desktop Action Remove]
Name=Remove AppImage from system
Icon=AppImageLauncher
Exec=/usr/lib/x86_64-linux-gnu/appimagelauncher/remove "~/Applications/NormCap-0.5.6-x86_64_622520793916910ce2b4e16a2a7b0d41.AppImage"
Name[ast]=Desaniciar AppImage del sistema
Name[cs]=Odebrat AppImage ze systému
Name[de]=AppImage vom System entfernen
Name[en]=Remove AppImage from system
Name[es]=Eliminar Appimage del Sistema
Name[fr]=Supprimer l'AppImage du système
Name[it]=Rimuovi AppImage dal sistema
Name[nl]=AppImage deïnstalleren
Name[pl]=Usuń AppImage z systemu
Name[pt]=Remover AppImage do sistema
Name[pt_PT]=Remover AppImage do sistema
Name[ru]=Удалить AppImage из системы
Name[zh_Hans]=从系统中移除 AppImage
